{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
          
          {% if user.is_authenticated%}
          <nav class="navbar col-mg-6 pe-4 ">
            <!-- Card Dark -->
  <!-- Card Dark -->

          {% comment %} <div class="row pe-5 py-3 ms-auto ">
            <div class="d-flex pe-4">
                <a class="nav-link" href="admin_ins"><button type="button" class="btn btn-success ms-auto " data-mdb-ripple-color="dark">Insert A New Data</button></a>
            </div>
          </div> {% endcomment %}
        </nav>

          <table class="table ">
            <thead class="table-dark">
              <tr>
                {% comment %} <th scope="col">Id</th> {% endcomment %}
                <th scope="col"> </th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">Phone Number</th>
                {% comment %} <th scope="col">Status</th>
                <th scope="col">Staff Status</th>
                <th scope="col">Last Login</th> {% endcomment %}
                {% comment %} <th scope="col">Password</th> {% endcomment %}
                <th scope="col">Block</th>
                {% comment %} <th scope="col">Delete</th> {% endcomment %}
              </tr>
            </thead>
            <tbody>
                {% for dis in details1 %}
              <tr class="table-info">
                {% if dis.is_superuser %}
                
                {% endif %}
                {% if dis.user_det.is_user %}
                <td></td>
                <td>{{dis.user_det.name}}</td>
                <td>{{dis.user_det.email}}</td>
                <td>{{dis.user_det.address}}</td>
                <td>{{dis.user_det.phone}}</td>
                {% comment %} {% if dis.is_active %}
                <td><div class="bg-success rounded-pill text-light" style="width: 63px; height: 27px; text-align:center;">Active</div></td>
                {% else %}
                <td><div class="bg-danger rounded-pill text-light" style="width: 63px; height: 27px; text-align:center;">Inactive</div></td>
                {% endif %}
                {% if dis.is_superuser %}
                <td><div class="bg-success rounded-pill text-light" style="width: 63px; height: 27px; text-align:center;">Staff</div></td>
                {% else %}
                <td><div class="bg-danger rounded-pill text-light" style="width: 63px; height: 27px; text-align:center;">User</div></td>
                {% endif %}
                <td>{{dis.last_login}}</td> {% endcomment %}
                {% if dis.is_active %}
                <td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#Modal1{{dis.id}}">Block</button></td>
                {% else %}
                <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal2{{dis.id}}">Un Block</button></td>
                {% endif %}
                {% comment %} <td><a href="delete/{{dis.id}}" onclick="return confirm('Confirm your process')"><button type="button" class="btn btn-warning">Delete</button></a></td> {% endcomment %}
              </tr>
              {% else %}
              
              {% endif %}
              {% comment %} {% endif %} {% endcomment %}

              <div class="modal fade" id="Modal1{{dis.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Block</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Are You Sure...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <a href="block/{{dis.id}}"><button type="button" class="btn btn-primary">Confirm</button></a>
                    </div>
                  </div>
                </div>
              </div>


              <div class="modal fade" id="Modal2{{dis.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">UnBlock User</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Are You Sure...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <a href="unblock/{{dis.id}}"><button type="button" class="btn btn-primary">Confirm</button></a>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
        {% endif %} 
        {% endblock content%}
        {% block js %}
        {% if messages %}
        {% for msg in messages %}
  <script>
      swal('{{msg}}')
  </script>
  {% endfor %}
        
    {% endif %}
    {% endblock js %}
        
