{% extends 'home_base.html' %}
{% load static %}
{% block content %}
        <secton>
            <div class="container">
                <div class="text-center">
                <img height='400' width='400' src="https://img.freepik.com/free-vector/delivery-service-illustrated_23-2148505081.jpg?w=740&t=st=1667022272~exp=1667022872~hmac=ef238e53fe334e455b97ab1f471ba231a05c4e972d8d579ba361d6255bee0454">
                <h3>Your Order Has Been placed</h3>
                <a href="home_user_det" style="color:inherit"><span><u>Go To Orders</u></span></a>
                </div>
            </div>
        </section> 
        {% endblock content %}

{% block js %}
{% endblock js %}
        <script src="" async defer></script>
