{% extends 'home_base.html' %}
{% load static %}
{% block content %}
<style>
@media only screen and (min-width: 768px) {
  .for-small{
    display:none;
  }
}
@media only screen and (max-width: 600px) {
  .for-big{
    display:none;
  }
}
</style>
    <section class="for-big">
        <h2 class="mt-5 ms-5">Change Password</h2>
        <div class="container">
          <form action="" method="post">
              {% csrf_token %}
        <div class="row mt-5">
          <div class="col-md-2">
          <label>Enter Old Password</label>
          <input type="password" name="old" class="form-control mt-2 ms-3">
          <label>Enter New Password</label>
          <input type="password" name="new" class="form-control mt-2 ms-3">
          <label>Confirm New Password</label>
          <input type="password" name="confirm" class="form-control mt-2 ms-3">
          </div>
          <div class="" style="margin-top:33px; margin-left:150px;">
              <button type="submit" class="btn btn-primary">Change</button>
          </div>
      </form>
    </div>
  </div>
</section>

<section class="for-small">
  <h2 class="mt-5">Change Password</h2>
  <div class="container">
    <form action="" method="post">
        {% csrf_token %}
  <div class="row mt-5">
    <div class="col-md-2">
    <label>Enter Old Password</label>
    <input type="password" name="old" class="form-control">
    <label>Enter New Password</label>
    <input type="password" name="new" class="form-control mt-2 ">
    <label>Confirm New Password</label>
    <input type="password" name="confirm" class="form-control mt-2">
    </div>
    <div class="" style="margin-top:33px;">
        <button type="submit" class="btn btn-primary">Change</button>
    </div>
</form>
</div>
</div>
</section>


      {% endblock content %}

{% block js %}
      {% if messages %}
      {% for msg in messages %}
      <script>
        swal('{{msg}}')
      </script>
      {% endfor %}
      {% endif %}

    {% endblock js %}